div#image img{
  display: block;
  margin: 10% auto;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
}

#main{
  float: left;
  margin: 0 auto;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}
#quote{
  margin: 0 auto;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
  text-align: center;
}
#quote p{
  text-decoration: none;
  font-family: Serif;
  line-height: 75%;
  font-size:20px;
}
#quote h1{
  font-size: 40px;
  text-decoration: none;
  font-family: Serif;
}
#content{
  float: left;
  width:100%;
  margin: 0 auto;
  height: 25%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preloader1.gif) center no-repeat #fff;
}
.up{
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;

}
.wide-container {
  max-width: 1200px;
  height: 550px;
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

#galleryrow{
  margin: 0 auto;
  height: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#gallerycol{
  width: 33.33%;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}


#gallerytable{
  height:100%;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

#galleryimage{
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
}
